
    <section class="container-fluid">
		<div class="row">
			<div class+"col-md-12">

				<div class="input-group input-group-lg rp_inputBox">
				  <span class="input-group-addon" id="sizing-addon1">></span>
				  <input type="text" class="form-control" placeholder="Entry Title" aria-describedby="sizing-addon1">
				</div>

				<div class="input-group input-group-lg rp_inputBox">
				  <span class="input-group-addon" id="sizing-addon1">></span>
				  <input type="text" class="form-control" placeholder="Entry" aria-describedby="sizing-addon1">
				</div>

				<div class="input-group input-group-lg rp_inputBox">
				  <span class="input-group-addon" id="sizing-addon1">></span>
				  <input type="text" class="form-control" placeholder="Tags" aria-describedby="sizing-addon1">
				</div>

			</div>
		</div>
    </section>
