
<form id="dailyEntry" name="dailtyEntry" >

	<div class="input-group input-group-lg rp_inputBox">
		    <span class="input-group-addon" id="sizing-addon1">></span>
		    <input type="text" name="topStory" id="topStory" class="form-control stored" placeholder="Top News Headline" value="" />
	</div>
 	
 	<div class="input-group input-group-lg rp_inputBox">
		    <span class="input-group-addon" id="sizing-addon1">></span>
		    <input type="text" name="MLB" id="MLB" class="form-control stored" placeholder="MLB" value="" />
	</div>
	
	<div class="input-group input-group-lg rp_inputBox">	
		    <span class="input-group-addon" id="sizing-addon1">></span> 
		    <input type="text" name="weather" id="weather" class="form-control stored" placeholder="<span id='output'></span>" value=""></input>
	</div>

	<div class="input-group input-group-lg rp_inputBox"> 
		<a href="#/dailyForm1"><input type="button" class="btn btn-default pull-left" value="Back" /></a>
	    	<a href="#/dailyForm3"><input type="button" class="btn btn-default pull-right" value="Next" /></a>
	</div>

</form>

	<!--localStorage for form values -->
		<script type="text/javascript">		
			$(document).ready(function () {
			    function init() {
			        if (localStorage["MLB"]) {
			            $('#MLB').val(localStorage["MLB"]);
			        }
			        if (localStorage["weather"]) {
			            $('#weather').val(localStorage["weather"]);
			        }
			    }
			    init();
			});
			$('.stored').keyup(function () {
			    localStorage[$(this).attr('name')] = $(this).val();
			});
		</script>


	<!-- Wunderground Weather API -->
		<script type="text/javascript">
			$(document).ready(function () {			
				$.getJSON('http://api.wunderground.com/api/2f895b6b08bd38cd/conditions/q/MO/Kansas_City.json', function(weatherResults){
						$("#weather").attr('value', weatherResults.current_observation.temp_f + " degrees & " + weatherResults.current_observation.icon);
					});
			});
		</script>


		<script type="text/javascript">
			// $(document).ready(function () {
			// 	$.ajax({
			// 		url: "https://erikberg.com/mlb/teams.json",
			// 		type: "GET",
			// 		dataType: "json",
			// 		success: function() {
			// 			alert('hello');
			// 		},

			// 		error: function() {
			// 			alert("boo");
			// 		},
			// 		beforeSend: setHeader
			// 	});

			// 	function setHeader(xhr) {
			// 		xhr.setRequestHeader("Authorization: Bearer ff-bfa8-35ffa9c55a3d");
			// 	}			
			// });
		</script>

		<!-- New York Times Top Stories -->
		<script type="text/javascript">
			$(document).ready(function () {			
				$.getJSON('http://api.nytimes.com/svc/topstories/v1/home.json?api-key=473195faa327df2bd00c96c6058be450:8:68523339', function(timesResults){				 $("#topStory").attr("value", timesResults.results[0].title);	
					});
				});
		</script>


		

