
 <form id="dailyEntry" name="dailtyEntry">

 	<div class="input-group input-group-lg rp_inputBox">
    	<span class="input-group-addon" id="sizing-addon1">></span> 
    		<input type="text" name="dateStamp" id="dateStamp" class="form-control stored" placeholder="Date" value="" />
	</div>

	<div class="input-group input-group-lg rp_inputBox">
    	<span class="input-group-addon" id="sizing-addon1">></span> 
    		<input type="text" name="location" id="location" class="form-control stored" placeholder="Location" value="" />
	</div>
 	
 	<div class="input-group input-group-lg rp_inputBox">
   		 <span class="input-group-addon" id="sizing-addon1">></span>
    		<input type="text" name="entryTitle" id="entryTitle" class="form-control stored" placeholder="Entry Title" value="" />
	</div>

	<div class="input-group rp_inputBox">  
	<span class="input-group-addon textareaSize" id="sizing-addon1">></span> 
   		<textarea input type="text" class="form-control stored textareaSize" rows="15" name="mainEntry" id="mainEntry" placeholder="Your Daily Entry"/>
	</div>
	
	<div class="input-group input-group-lg rp_inputBox"> 
   	 	<a href="#/dailyForm2"><input type="submit" class="btn btn-default pull-right submitForm" value="Next" />
	</div>

</form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		
		<!--Date Stamp-->
		<script type="text/javascript">
		$(document).ready(function () {
			var dateStamp = new Date();
			 $("#dateStamp").attr("value", dateStamp);
		});
		</script>

		<!-- Geolocation API -->
		<script type="text/javascript">
		$.get("http://ipinfo.io", function (response) {
		    $("#ip").html("IP: " + response.ip);
		    $("#location").attr("value", "Location: " + response.city + ", " + response.region);
		     }, "jsonp");
		</script>


		<script type="text/javascript">
		$(document).ready(function () {

		    function init() {
		       if (localStorage["dateStamp"]) {
		            $('#dateStamp').val(localStorage["dateStamp"]);
		        }
		         if (localStorage["location"]) {
		            $('#location').val(localStorage["location"]);
		        }
		        if (localStorage["entryTitle"]) {
		            $('#entryTitle').val(localStorage["entryTitle"]);
		        }
		        if (localStorage["dailyEntry"]) {
		            $('#mainEntry').val(localStorage["mainEntry"]);
		        }
		    }
		    init();
		});

		$('.stored').keyup(function () {
		    localStorage[$(this).attr('name')] = $(this).val();
		});

		</script>