
 <form id="localStorageTest" method="post" action="">
 	
 	<div class="input-group input-group-lg rp_inputBox">
    <span class="input-group-addon" id="sizing-addon1">></span>
    <input type="text" name="MLB" id="MLB" class="form-control stored" placeholder="MLB" value="" />
	</div>
	
	<div class="input-group input-group-lg rp_inputBox">	
    <span class="input-group-addon" id="sizing-addon1">></span> 
    <input type="email" name="weather" id="weather" class="form-control stored" placeholder="Weather" value=""/>
	</div>

	<div class="input-group input-group-lg rp_inputBox"> 
    <a href="#/dailyForm3"><input type="submit" class="btn btn-default pull-right" value="Submit" /></a>
	</div>

</form>

<div id="output"></div>

		<script type="text/javascript">
		$(document).ready(function () {
		    function init() {
		        if (localStorage["MLB"]) {
		            $('#MLB').val(localStorage["MLB"]);
		        }
		        if (localStorage["weather"]) {
		            $('#weather').val(localStorage["weather"]);
		        }
		    }
		    init();
		});

		$('.stored').keyup(function () {
		    localStorage[$(this).attr('name')] = $(this).val();
		});

		$('#localStorageTest').submit(function() {
		    localStorage.clear();
		});

		</script>


		<script type="text/javascript">

		$(document).ready(function () {
    		$.getJSON("https://api.forecast.io/forecast/d3d34411e6a867665dfdaffc8b82e77e/-94.58,39.1", function(result){
       		
       			alert(result);

   			 });
		});

		</script>



		<script type="text/javascript">
		// $(document).ready(function () {

		// 			Weather.getCurrent("Kansas City", function(current) {

  // 					var currentTemp = current.temperature();
  // 					var currentCond = current.conditions();
  					
  // 					var finalTemp = Math.round(parseInt(currentTemp) - 273.15) * 9 / 5 + 32;

  // 					alert(finalTemp);


		// 			});



		// });
		</script>

		<!-- API http://api.openweathermap.org/data/2.5/weather?id=4393217 -->

