
 <form id="dailyEntry" name="dailtyEntry" class="form-horizontal">         
 	<div class="form-group">

 	<div class="input-group input-group-lg rp_inputBox">
    	<span class="input-group-addon" id="sizing-addon1">></span> 
    		<input type="number" name="meditate" id="meditate" class="form-control stored" placeholder="Meditation Time (In Minutes)"  value="" />
	</div>
 	
 	 <div class="row input-group input-group-lg ratingSystem">
	  	<div class="btn-group-lg" data-toggle="buttons">
	  	<span class="radioLabel">Rate the Day:</span>
	                <label class="btn btn-default">
	                    <input type="radio"  name="dayRating" class="form-control stored"  value="1" /> 1
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio"  name="dayRating" class="form-control stored" value="2" /> 2
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio" name="dayRating"  class="form-control stored"  value="3" /> 3
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio"  name="dayRating" class="form-control stored" value="4" /> 4
	                </label> 
	                <label class="btn btn-default active">
	                    <input type="radio" name="dayRating" class="form-control stored"  value="5" /> 5
	                </label>
	                </span>
    		</div>
    	</div>
    	<br/>
	
	 <div class="row input-group input-group-lg ratingSystem">
	  	<div class="btn-group-lg" data-toggle="buttons">
	  	<span class="radioLabel">Pain:</span>
	                <label class="btn btn-default">
	                    <input type="radio"  name="painRating" class="form-control stored"  value="1" /> 1
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio"  name="painRating" class="form-control stored" value="2" /> 2
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio" name="painRating"  class="form-control stored"  value="3" /> 3
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio"  name="painRating" class="form-control stored" value="4" /> 4
	                </label> 
	                <label class="btn btn-default active">
	                    <input type="radio" name="painRating" class="form-control stored"  value="5" /> 5
	                </label>
	                </span>
    		</div>
    	</div>
    	<br/>


	<div class="col-md-10 columns btn-group-lg ratingSystem"> 
	<span class="radioLabel">Tags:</span>
	 <label class="checkbox-inline" for="Checkboxes_Apple">                       
	 	<input type="checkbox" name="Checkboxes" id="Weekend" value="Weekend"> Weekend                     
	 </label>     

	 <label class="checkbox-inline" for="Checkboxes_Orange">                       
	 	 <input type="checkbox" name="Checkboxes" id="Work" value="Work"> Work                     
	 </label>  
	
	<label class="checkbox-inline" for="Checkboxes_Orange">                       
	 	 <input type="checkbox" name="Checkboxes" id="Lego" value="LEGO "> LEGO                     
	 </label>  

	 <label class="checkbox-inline" for="Checkboxes_Orange">                       
	 	 <input type="checkbox" name="Checkboxes" id="Travel" value="Travel "> Travel                     
	 </label>  

	 <label class="checkbox-inline" for="Checkboxes_Orange">                       
	 	 <input type="checkbox" name="Checkboxes" id="Computer" value="Computer Stuff"> Computer Stuff                    
	 </label>  
 	                   	              
	 </div>

	</div>

	

	<div class="input-group input-group-lg rp_inputBox"> 
		<a href="#/dailyForm2"><input type="button" class="btn btn-default pull-left" value="Back" /></a>
    		<input type="submit" class="btn btn-default pull-right submitForm"  value="Submit" /></a>
	</div>

</form>

<div id="output"></div>

		<script type="text/javascript">
		$(document).ready(function () {
		    function init() {
		        if (localStorage["painRating"]) {
		            $('#painRating').val(localStorage["painRating"]);
		        }
		        if (localStorage["dayRating"]) {
		            $('#dayRating').val(localStorage["dayRating"]);
		        }
		         if (localStorage["dailyTags"]) {
		            $('#dailyTags').val(localStorage["dailyTags"]);
		        }
		    }
		    init();
		});

		$('.stored').keyup(function () {
		    localStorage[$(this).attr('name')] = $(this).val();
		});

		</script>


		<script type="text/javascript">

			$(".submitForm").click (function() {

			var dailyJSON = JSON.stringify(localStorage);
			localStorage.clear();

			var xhr = new XMLHttpRequest();
    			xhr.open("POST", "https://api.mongolab.com/api/1/databases/recollectionapp/collections/daily?apiKey=0ICZTbnaNJoaKZDCnIl-NIZZ-Jd8_TmB", true);
    			xhr.setRequestHeader("Content-Type", "application/json");
    			xhr.send(dailyJSON);

    			alert("Another Day Recorded!")

			});

		</script>


