
 <form id="dailyEntry" name="dailtyEntry" >
 	
 	<div class="input-group input-group-lg rp_inputBox">
    <span class="input-group-addon" id="sizing-addon1">></span>
    <input type="text" name="MLB" id="MLB" class="form-control stored" placeholder="MLB" value="" />
	</div>
	
	<div class="input-group input-group-lg rp_inputBox">	
    <span class="input-group-addon" id="sizing-addon1">></span> 
    <input type="email" name="weather" id="weather" class="form-control stored" placeholder="<span id='output'></span>" value=""></input>
	</div>

	<div class="input-group input-group-lg rp_inputBox"> 
	<a href="#/dailyForm1"><input type="button" class="btn btn-default pull-left" value="Back" /></a>
    	<a href="#/dailyForm3"><input type="button" class="btn btn-default pull-right" value="Next" /></a>
	</div>

</form>

		<script type="text/javascript">
		
		$(document).ready(function () {
		    function init() {
		        if (localStorage["MLB"]) {
		            $('#MLB').val(localStorage["MLB"]);
		        }
		        if (localStorage["weather"]) {
		            $('#weather').val(localStorage["weather"]);
		        }
		    }
		    init();
		});

		$('.stored').keyup(function () {
		    localStorage[$(this).attr('name')] = $(this).val();
		});

		</script>


		<script type="text/javascript">
		$(document).ready(function () {

					Weather.getCurrent("Budapest", function(current) {
  					var currentTemp = current.temperature();
  					var currentCond = current.conditions();				
  					var finalTemp = Math.round(parseInt(currentTemp) - 273.15) * 9 / 5 + 32;
  					$("#weather").attr('value', finalTemp + " " + currentCond);	

					});

		});
		</script>



