
 <form id="dailyEntry" name="dailtyEntry">

 	<div class="input-group input-group-lg rp_inputBox">
    	<span class="input-group-addon" id="sizing-addon1">></span> 
    		<input type="text" name="dateStamp" id="dateStamp" class="form-control stored" placeholder="Date" value="" />
	</div>

	<div class="input-group input-group-lg rp_inputBox">
    	<span class="input-group-addon" id="sizing-addon1">></span> 
    		<input type="text" name="location" id="location" class="form-control stored" placeholder="Location" value="" />
	</div>
 	
 	<div class="input-group input-group-lg rp_inputBox">
   		 <span class="input-group-addon" id="sizing-addon1">></span>
    		<input type="text" name="entryTitle" id="entryTitle" class="form-control stored" placeholder="Entry Title" value="" />
	</div>

	<div class="input-group input-group-lg rp_inputBox">  
	<span class="input-group-addon" id="sizing-addon1">></span> 
   		<textarea class="form-control stored textarea" rows="5" name="mainEntry" id="mainEntry" placeholder="Your Daily Entry"></textarea>
	</div>
	
	<div class="input-group input-group-lg rp_inputBox">
    	<span class="input-group-addon" id="sizing-addon1">></span> 
    		<input type="text" name="tags" id="tags" class="form-control stored" placeholder="Tags" value="" />
	</div>

	 <div class="row input-group input-group-lg">
	  	<div class="btn-group-lg" data-toggle="buttons">
	  	<span class="radioLabel">Rate the Day:</span>
	                <label class="btn btn-default">
	                    <input type="radio"  name="dayRating" class="form-control stored"  value="1" /> 1
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio"  name="dayRating" class="form-control stored" value="2" /> 2
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio" name="dayRating"  class="form-control stored"  value="3" /> 3
	                </label> 
	                <label class="btn btn-default">
	                    <input type="radio"  name="dayRating" class="form-control stored" value="4" /> 4
	                </label> 
	                <label class="btn btn-default active">
	                    <input type="radio" name="dayRating" class="form-control stored"  value="5" /> 5
	                </label>
	                </span>
    		</div>
    	</div>

	<div class="input-group input-group-lg rp_inputBox"> 
   	 	<a href="#/dailyForm2"><input type="submit" class="btn btn-default pull-right submitForm" value="Next" />
	</div>

</form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

		<script type="text/javascript">
		$(document).ready(function () {
			var dateStamp = new Date();
			 $("#dateStamp").attr("value", dateStamp);
		});
		</script>

		<!-- Google Geolocation API -->
		<script type="text/javascript">
			$(document).ready(function () {			
				$.getJSON('https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyBeqrpzdK5ataRb7vRB_7F5BNRUpoMtCBU', function(locationResults){
						$("#location").attr('value', locationResults);
					});
			});
		</script>


		<script type="text/javascript">
		$(document).ready(function () {

		 localStorage['dayRating'] = $('radio[name=dayRating]:checked').val(localStorage["dayRating"]);

		    function init() {
		       if (localStorage["dateStamp"]) {
		            $('#dateStamp').val(localStorage["dateStamp"]);
		        }
		         if (localStorage["location"]) {
		            $('#location').val(localStorage["location"]);
		        }
		        if (localStorage["entryTitle"]) {
		            $('#entryTitle').val(localStorage["entryTitle"]);
		        }
		        if (localStorage["dailyEntry"]) {
		            $('#mainEntry').val(localStorage["mainEntry"]);
		        }
		        if (localStorage["tags"]) {
		            $('#tags').val(localStorage["tags"]);
		        }
		        if (localStorage["dayRating"]) {
		            $('#dayRating').val(localStorage["dayRating"]);
		        }
		    }
		    init();
		});

		$('.stored').keyup(function () {
		    localStorage[$(this).attr('name')] = $(this).val();
		});

		</script>